/* css/style.css */

/* Aturan untuk membuat tabel responsif dengan tinggi maksimum dan scroll vertikal */
.table-responsive {
    max-height: 70vh; /* Tinggi maksimum 70% dari tinggi viewport */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

/* Penyesuaian ukuran tombol kecil */
.btn-sm {
    padding: .25rem .5rem; /* Padding vertikal dan horizontal */
    font-size: .875rem;    /* Ukuran font lebih kecil */
}

/* Penyesuaian ukuran input form kontrol kecil */
.form-control-sm {
    padding: .25rem .5rem; /* Padding vertikal dan horizontal */
    font-size: .875rem;    /* Ukuran font lebih kecil */
}

/* Aturan untuk modal body agar bisa di-scroll jika isinya terlalu panjang */
.modal-body {
    max-height: 60vh; /* Tinggi maksimum 60% dari tinggi viewport */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

/* CSS untuk tombol tutup modal pada header modal dengan background gelap (contoh success/danger) */
.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%); /* Membuat ikon X menjadi putih */
}
